h1 {
  font-size: clamp(2.4em, 5vw, 3em);
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.6em, 5vw, 2em);
  line-height: clamp(2.4em, 5vw, 3em);
}

p,
a,
li,
label {
  font-size: clamp(1.6em, 5vw, 2em);
  /* line-height: clamp(2.4em, 5vw, 3em); */
  line-height: 1.8;
}

small {
  font-size: 10px;
  line-height: 15px;
  color: rgb(165, 20, 20);
  padding: 0.5em 0 0.5em 2em;
}
