h1 {
  font-size: clamp(2.4em, 5vw, 3em);
  line-height: clamp(3.6em, 5vw, 4.5em);
}

h2 {
  font-size: clamp(1.6em, 5vw, 2em);
  line-height: clamp(2.4em, 5vw, 3em);
}

p,
a,
li,
label {
  font-size: clamp(1.6em, 5vw, 2em);
  line-height: clamp(2.4em, 5vw, 3em);
}

small {
  font-size: 10px;
  line-height: 15px;
}
