.btn {
  display: inline-block;
  padding: 0.7em 0;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 1em auto;
  width: 70%;
}

.btn-primary {
  background-color: var(--cl-primary);
  color: var(--cl-light);
}

.btn-primary:hover {
  background-color: var(--cl-secondary);
  color: var(--cl-dark);
}

.btn-secondary {
  background-color: var(--cl-light);
  color: var(--cl-dark);
  border: 2px solid var(--cl-primary);
}

.btn-secondary:hover {
  background-color: rgb(201, 201, 201);
  border-color: rgb(201, 201, 201);
}

.pills {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 1em;
}

.pills:hover {
  background-color: rgb(165, 165, 165);
}
