.container-768 {
  width: min(95%, 768px);
  margin: 0 auto;
  padding: 2rem 0;
  min-height: 100vh;
  height: 100%;
}

.container-920 {
  width: min(95%, 920px);
  margin: 0 auto;
  padding: 2rem 0;
  min-height: 100vh;
  height: 100%;
}

.container-1200 {
  width: min(95%, 1200px);
}

.container-content {
  text-align: center;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-lists {
  margin: 4em 0;
}
